---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Menu from "@/components/header/index.tsx";

type Props = CollectionEntry<"blog">["data"];

const { title, description, date, pageName, highlight } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Menu client:load highlight={highlight} />
    <main>
      <article>
        <div class="hero-image"></div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={date} />
            </div>
            <h1>{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
